
<div class="top">
	<div class="top__text">
		<h2>MemoTREEとは</h2>
		<p>単語帳・メモ帳のサイト<br>
			思いついた時にさっとまとめて見返す事が出来る<br>
			メモにはハッシュタグがつけられるので<br>
			後から見やすい<br>
		</p>
	</div>

	<div class="top__enter">
	</div>

</div>