
<div class="top">

  <div class="top__text">
  	<h2>MemoTREEとは</h2>
	  <p>
	    自分の単語帳・メモ帳を作れるアプリケーションです。<br>
	    wordとmemoの二種類が登録出来ます。<br>
	    色分け分類・pickup・ハッシュタグによって分類分けをすることも可能です。<br>
		あなただけの系統・分類分けを作ってみましょう。<br>
	  </p>
	</div>

	<div class="top__slide">
		<div id="container">
	  		<div id="theTarget">
			    <div class="img-01"></div>
			    <div class="img-02"></div>
			    <div class="img-03"></div>
	 		</div>
		</div>
	</div>

</div>