
<div class="top">
	<div class="top__text">
		<h3>※これはプログラミング学習者の<br>ポートフォリオ作品です。</h3>
		<br>
		<p>
			勉強中、<br>
			分からない単語を調べて意味をメモしたはいいけれど<br>
			後から見直したら順番もまとまりもぐちゃぐちゃ…<br>
			整理したいけど上手くいかない<br>
			なんてことはありませんか？<br>
			<br>
			単語とは別にちょっとした公式やメソッドも<br>
			書き留めて後から整理したくなる時はありませんか？<br>
			<br>
			<strong>MemoTREE</strong>は<br>
			そんなあなたの為のアプリケーションです。<br>
		</p>
	</div>

	<div class="top__enter">
		<div class="enter-btn">
			<div class="enter-btn__field">
				<p>テストデータの入ったアカウントに<br>ログインも出来ます</p>
				<%= link_to '簡単ログイン', new_user_session_path, class: "btn btn-warning" %>
			</div>
			<div class="enter-btn__field">
				<p>SNS認証でサインインすることも出来ます</p>
				<%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

</div>