
<div class="top">
	<div class="top__text">
		<p>
			勉強中、<br>
			分からない単語をメモしたはいいけれど<br>
			後から見直したら順番もまとまりもぐちゃぐちゃ…<br>
			整理したいけど上手くいかない<br>
			なんてことはありませんか？<br>
			<br>
			または<br>
			ふとした時に書き留めたメモを<br>
			纏めたく<br>
			<br>
			<strong>MemoTREE</strong>は<br>
			そんなあなたの為のアプリケーションです。<br>
		</p>
	</div>

	<div class="top__enter">
		<div class="enter-btn">
			<div class="enter-btn__field">
				<p>あらかじめデモデータが<br>入っているアカウントにログイン出来ます</p>
				<%= link_to '簡単ログイン', new_user_session_path, class: "btn btn-warning" %>
			</div>
			<div class="enter-btn__field">
				<p>SNS認証でサインインすることも出来ます</p>
				<%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

</div>