
<div class="top">
	<div class="top__text">
		<br>
		<p>
			勉強中、<br>
			分からない単語を調べて意味をメモしたはいいけれど<br>
			後から見直したら順番もまとまりもぐちゃぐちゃ…<br>
			なんてことはありませんか？<br>
			<br>
			ちょっとした公式やメソッドをメモして<br>
			後から整理したくなる時はありませんか？<br>
			<br>
			<strong>MemoTREE</strong>は<br>
			そんなあなたの為のアプリケーションです。<br>
		</p>
		<br>
		<h4>※これはプログラミング学習者の<br>ポートフォリオ作品です。</h4>
	</div>

	<div class="top__enter">
		<div class="enter-btn">
			<div class="enter-btn__field">
				<p>テストデータの入ったアカウントに<br>ログイン出来る簡単ログインもあります</p>
				<%= link_to 'ログイン画面へ', new_user_session_path, class: "btn btn-warning" %>
			</div>
			<div class="enter-btn__field">
				<p>新規登録はこちら</p>
				<%= link_to '新規登録へ', new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

</div>