<div class="home_container1">

  <div class="enter">

    <p class="enter__ttl">簡単ログイン</p>


	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <%= f.hidden_field :name ,value: "test1" %>
	  <%= f.hidden_field :password ,value: "111111" %>
	  <%= f.submit '簡単ログイン', class: "btn btn-warning" %>
	<% end %>

  </div>
</div>