/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// [ header関係 ]
.header1 {
  width: 100%;
  height: 20vh;
  background: green;
  font-size: 36px;
}
.header1__lg {
  margin: 5px;
  float: left;
}
.logo {
  height: 100px;
  width: 100px;
  background-image: image-url("logo.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.btn1 {
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: row; //左から並べる
  justify-content: flex-end; //右寄せ
  align-items: center; //上下の中央揃え
  list-style: none;
}
.btn1__list{
  margin: 10px;
}

// [ ページのmain ]
body {
  background: #e6e6e6;
  background-size:cover
}
.main-top {
  width: 90%;
  margin: 0 auto;
}

.main-bottom {
  width: 89%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.main-bottom-mypage {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
// [ エラーメッセージ ]
.main-flash {
  width: 250px;
  margin: 0 auto;
  float: right;
}
.main-flash__text {
  width: 250px;
}

// [ word/memo作成ボタン ]
.new-btn{
  position: relative;
  float: right;
  margin: 20px 50px;
}
.new-btn__icon {
  font-size: 36px;
  text-align:center;
  padding: 18px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid #a9a9a9;
  background: #fff;
}

// [ ページタイトル ]
.page-ttl {
  margin: 0 0 20px 20px;
  float: left;
}

// [ 検索・並べ替え窓 ]
.discovery {
  margin: 20px;
  width: 100%;
  clear: both;
}
.discovery__sort {
  margin: 10px;
}

.enter__SNS > i {
  font-size: 100px;
}

.page-bar {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

// [ word/memo編集ページ ]

.edit-leaf {
  margin: 0 auto;
  padding: 15px;
  width: 500px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-leaf__form {
  margin: 0 auto;
}
.edit-leaf__back {
  margin-top: 25px;
}