/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// [ header関係 ]
.header1 {
	width: 100%;
	height: 20vh;
	background: green;
	font-size: 36px;
}
.header1__lg {
	margin: 5vh 20px;
	float: left;
}
.btn1 {
	height: 100%;
	width: 50%;
	float: right;
	display: flex;
	flex-direction: row; //左から並べる
	justify-content: flex-end; //右寄せ
	align-items: center; //上下の中央揃え
	list-style: none;
}
.btn1__list{
	margin: 10px;
}

// [ ページのmain ]
.main1 {
	width: 80%;
	margin: 0 auto;
}

// [ ページタイトル ]
.page-ttl {
	margin-left: 20px;
	float: left;
}
.page-ttl > h2 {
  padding: 1rem 2rem;
  color: #fff;
  background: #094;
  -webkit-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
}

// [ 検索・並べ替え窓 ]
.discovery {
	margin: 20px;
}
.discovery__sort {
	margin: 10px;
}

.enter__SNS > i {
  font-size: 100px;
}