// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage {
	margin-top: 100px;
}

.mypage-edit-btn {
	margin: 20pxs;
	float: right;
}
.mypage-edit-btn__edit {
	margin-left: 10px;
}