<div class="header1">
	<div class="header1__lg">
	</div>
	<div class="btn1">
		<li class="btn1__list">
			<%= link_to 'about', home_about_path, class: "btn btn-default" %>
		</li>
		<li class="btn1__list">
			<%= link_to '新規登録', new_user_registration_path, class: "btn btn-default" %>
		</li>
		<li class="btn1__list">
			<%= link_to 'ログイン', new_user_session_path, class: "btn btn-default" %>
		</li>
	</div>
</div>